/* Style your dropdown below! */
.container{
    margin: 0 auto;
    text-align: center;
    width: 400px;
    font-family: "Open sans";
    cursor: pointer;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}
li{
    margin:0px;
    border: 1px solid black; 
    padding: 10px
}
#toggle{
    
}